<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584232749575-rmkgr6cg2jvi8bn9nkjt65695vmdn6ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584232749575-rmkgr6cg2jvi8bn9nkjt65695vmdn6ki</string>
	<key>API_KEY</key>
	<string>AIzaSyAMObKGxxN-ubWgRHwYSAmLuACsJ9ySQMU</string>
	<key>GCM_SENDER_ID</key>
	<string>584232749575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fforwardAdm</string>
	<key>PROJECT_ID</key>
	<string>fforward-704a0</string>
	<key>STORAGE_BUCKET</key>
	<string>fforward-704a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584232749575:ios:f93449d36cc3a3fe8db8a2</string>
	<key>DATABASE_URL</key>
	<string>https://fforward-704a0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>